
.custom-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }

.hidden {
    display: none;
}



.NavBar {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
    width: min(100vw, 400px);
  }
  
  .NavBar::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid #2efb55;
    width: 20%;
    height: 100%;
    transform: translate(-50%, -50%);
    border-radius: 50% 50% 0 0;
    transition: 0.5s;
  }
  
  .NavBar:focus-within:not(:has(.NavBar-close:focus))::before {
    width: 100%;
    background: #2efb55;
    border-radius: 0;
  }
  
  .NavBar:focus-within:not(:has(.NavBar-close:focus)) .NavBar-item {
    transform: translatey(0);
  }
  
  .NavBar-buttons {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    background: rgba(0,0,0,0);
    width: 20%;
    aspect-ratio: 1/1;
    border: none;
    transform: translate(-50%, -50%);
    color: #2efb55;
    cursor: pointer;
  }
  .NavBar-buttons:hover {
    text-shadow: 0 0 5px #2efb55;
  }
  
  .NavBar-menu,
  .NavBar-close {
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(0,0,0,0);
    border: none;
    color: #2efb55;
    cursor: pointer;
    transform: translate(-50%, -50%) scale(1);
    font-size: 2rem;
    transition: 0.5s;
  }
  
  .NavBar-buttons .NavBar-close {
    transform: translate(-50%, -50%) scale(0);
  }
  .NavBar-buttons:has(.NavBar-menu:focus) .NavBar-close {
    transform: translate(-50%, -50%) scale(1);
    color: #111;
  }
  .NavBar-buttons:has(.NavBar-menu:focus) .NavBar-menu {
    transform: translate(-50%, -50%) scale(0);
  }
  .NavBar-buttons:has(.NavBar-close:focus) .NavBar-menu {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .NavBar-items {
    display: flex;
    padding: 0;
    margin: 0;
    color: #111;
  }
  
  .NavBar-item {
    width: 20%;
    text-align: center;
    padding: 5%;
    transform: translatey(100%);
    cursor: pointer;
    transition: 0.5s;
  }
  .NavBar-close:hover,
  .NavBar-item:hover {
    text-shadow: 0 0 15px #111;
  }
  
  .NavBar-item:nth-child(2) {
    margin-right: 20%;
  }